/* NAVIGATION */
#top-nav {
    max-width: 960px;
    padding: 0 20px;
    margin: 20px auto;
    font-weight: 300;
    line-height: 25px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
}

    #logo {
        display: inline-block;
        position: relative;
        background-image: url(images/logo2.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 300px;   
        height: 25px;
        vertical-align: middle;
    }

    .hidden {
        position: absolute;
        overflow: hidden;
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        border: 0;
        clip: rect(0 0 0 0);
    }

    #menu-main-menu {
        float: right;
        position: relative;
    }

    #menu-main-menu li {
        list-style: none;
        display: inline-block;
    }

    #menu-main-menu li a {
        display: block;
        padding: 0 20px;
        text-decoration: none;
    }

    #menu-main-menu li a:link,
    #menu-main-menu li a:visited {
        color: #373737;
    }    

    #menu-main-menu li a:hover,
    #menu-main-menu li a.active {
        color: #84bc87;
    }
    
    #toggle {
        display: none;
        cursor: pointer;
    }



/* MOBILE NAV HAMBURGER */
.hamburger{
    display: none;
  
}

.hamburger:hover{
    cursor: pointer;
}

#hamburger.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  -o-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  -o-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}


/* SCREEN BELOW 769px */
@media screen and (max-width:768px) {

    
    #menu-main-menu {
        float: none;
        display: none;
    }
    
        #menu-main-menu li {
            display: block;
            font-size: 12px;
        }
    
        #menu-main-menu li:nth-child(1) {
            margin-top: 30px;
            padding-left: 10px;
        }

        #menu-main-menu li:nth-child(n+2):nth-child(-n+4) {
            margin-top: 8px;
            padding: 8px 0 0 10px;
            border-top: 0.5px solid #878787;
        }

        #menu-main-menu li:nth-child(4) {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .hamburger {
            display: block;
            padding: 0;
            margin-top: 2px;
            width: 20px;
            float: right;
        }
        .hamburger .line {
            width: 20px;
            height: 1px;
            background-color: #333;
            display: block;
            margin: 5px auto;

            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
}

@media screen and (max-width:600px) {
    #logo {
        width: 200px;
        height: 20px;
    }
}